body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.moon{
    color: cornflowerblue;
}
.zozo{
    color: slateblue;
}
.section-dis{
    display: flex;
    margin-bottom: 10px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width image{
    width: 80%;
}
.cret{
    color: deeppink;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(cornflowerblue, slateblue, rgb(235, 150, 164));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 600
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.development-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.position-exp{
    padding: 2% 5%;

}
.web-dv-width{
    width: 40%;
    padding: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 20px 20px 40px grey;
    border-radius: 8px;
} 
#full-stack-border{
    border-left: 7px solid tomato;
}   
#baby-web-border{
    border-left: 7px solid cornflowerblue;
}
.footer-area{
    text-align: center;
}